<div class="page section-about">
  <div class="container">
    <div class="page-heading">
      <h1 [attr.data-shadow]="aboutData?.title">{{ aboutData?.title }}</h1>
    </div>

    <!--About Info Section Start-->
    <div class="row about-info mb-60">
      <div class="col-lg-5">
        <!-- about image -->
        <div class="about-img">
          <img
            [src]="aboutData?.profilePic"
            [alt]="aboutData?.name + ' Profile Picture'"
          />
        </div>
      </div>

      <div class="col-lg-7">
        <h3 class="mb-20">{{ aboutData?.position }}</h3>
        <p [innerHtml]="aboutData?.desc"></p>

        <div class="row mb-20">
          <div class="col-sm-6">
            <!-- about list -->
            <ul class="about-list">
              <li>
                <span class="title">Name</span>
                <span class="value">{{ aboutData?.name }}</span>
              </li>
              <li>
                <span class="title">Age</span>
                <span class="value">{{ aboutData?.age }}</span>
              </li>
              <li>
                <span class="title">Email</span>
                <a href="mailto:{{ aboutData?.email }}" class="value">{{
                  aboutData?.email
                }}</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <!-- about list -->
            <ul class="about-list">
              <li>
                <span class="title">Phone</span>
                <span class="value"
                  ><a href="tel:+{{ aboutData?.mobileNumber }}">{{
                    aboutData?.mobileNumber
                  }}</a></span
                >
              </li>
              <li>
                <span class="title">Address</span>
                <span class="value"
                  >{{ aboutData?.address[0]?.city }},{{
                    aboutData?.address[0]?.state
                  }}-{{ aboutData?.address[0]?.pincode }},{{
                    aboutData?.address[0]?.country
                  }}</span
                >
              </li>
              <li>
                <span class="title">Freelance</span>
                <span class="value">{{ aboutData?.freelance }}</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <!-- resume button -->
            <div class="resume-button">
              <a class="main-btn" target="_blank" [href]="aboutData?.resumelink"
                >Download Resume
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--About Info Section End-->

    <!--Services Section Start-->
    <div class="row services mb-20">
      <div class="col-md-12">
        <div class="sub-heading">
          <h3>Services</h3>
        </div>
      </div>

      <!--service item-->
      <div
        class="col-lg-3 col-sm-6"
        *ngFor="let service of aboutData?.services"
      >
        <div class="service-item">
          <i class="fa {{ service.icon }}"></i>
          <h4 class="title">{{ service.name }}</h4>
          <p [innerHtml]="service?.desc"></p>
        </div>
      </div>
    </div>
    <!--Services Section End-->
  </div>
</div>
