/*======== 5. About Section ========*/
@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/grid';

.section-about .about-img img {
  border: 10px solid rgba(255, 255, 255, 0.03);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  max-height: 450px;
  width: unset;
  max-width: 100%;

}

.section-about .about-info h3 {
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600; }

.section-about .about-info p {
  margin-bottom: 25px;
  line-height: 27px; }
  .section-about .about-info p strong {
    color: #e1e1e1; }
.section-about .about-info {
  // .col-lg-5,
  // .col-lg-6,
  // .col-lg-7,
  // .col-sm-6 {
  //   float: left;
  // }

}

.section-about .about-info .about-list li {
  margin-bottom: 10px; }
  .section-about .about-info .about-list li .title {
    position: relative;
    margin-right: 10px;
    padding-bottom: 1px;
    color: #a1a1a1;
    font-weight: 700; }
    .section-about .about-info .about-list li .title:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0;
      background: #e1e1e1;
      -webkit-border-radius: 2px;
      border-radius: 2px; }
    .section-about .about-info .about-list li .title:after {
      position: absolute;
      content: ':';
      right: -8px; }
  .section-about .about-info .about-list li .value {
    position: relative; }
    .section-about .about-info .about-list li .value:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: 0;
      left: 0; }

.section-about .services .service-item {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 40px; }
  .section-about .services .service-item i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #e1e1e1; }
  .section-about .services .service-item .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px; }
  .section-about .services .service-item p {
    font-size: 14px;
    margin-bottom: 0px; }


