<header>

  <!-- logo -->
  <a class="logo" [routerLink]="['/']" (click)="close()"  ><span>{{contactData?.logoText}}</span></a>

  <!-- navigation button -->
  <div class="menu-button " #menubutton (click)="toggle()"  [ngClass]="{'active':( menuFlag$| async)}">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- navigation menu -->
  <nav class="nav-menu "  [ngClass]="{'active':( menuFlag$| async)}">
    <div class="nav-menu--links">
      <a class="nav-menu--link" (click)="close()" href="#home" *ngFor="let m of menu" [routerLink]="[m?.url]" routerLinkActive="active" ><i [class]="m?.icon"></i><span>{{m?.name}}</span></a>
    </div>

    <!-- social links -->
    <div class="social-links">
      <a class="social-link" (click)="close()" [title]="social?.name" href="{{social?.url}}" target="_blank" *ngFor="let social of contactData?.socialLinks">
        <i [class]="social?.icon" aria-hidden="true"></i>
      </a>
    </div>
    <!-- footer -->
    <dk-footer [copyrightText]="contactData?.copyright"></dk-footer>

  </nav>

</header>
