@import 'src/sass/variables';
@import 'src/sass/mixins';
@import 'src/sass/grid';

.section-resume .experience, .section-resume .language, .section-resume .projects, .section-resume .education {
  border-left: 4px solid #e1e1e1;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: #e1e1e1;
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 90%;
  margin: 0 auto 50px auto;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); }
  .section-resume .experience h4, .section-resume .language h4, .section-resume .projects h4, .section-resume .education h4 {
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 20px;
    text-transform: uppercase; }
  .section-resume .experience h5, .section-resume .language h5, .section-resume .projects h5, .section-resume .education h5 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #e1e1e1  }
    .section-resume .experience h5 .date,.section-resume .experience h5 .company, .section-resume .education h5 .company, .section-resume .language h5 .date, .section-resume .projects h5 .date, .section-resume .education h5 .date {
      margin-right: 5px;
      padding-right: 10px;
      &:not(:last-child){
        border-right: 3px solid #e1e1e1 !important;
      }

    }
  .section-resume .experience p, .section-resume .language p, .section-resume .projects p, .section-resume .education p {
    margin-bottom: 0;
    font-size: 16px; }
  .section-resume .experience .event, .section-resume .language .event, .section-resume .projects .event, .section-resume .education .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative; }
    .section-resume .experience .event:last-of-type , .section-resume .language .event:last-of-type, .section-resume .projects .event:last-of-type, .section-resume .education .event:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none; }
    .section-resume .experience .event:after, .section-resume .language .event:after, .section-resume .projects .event:after, .section-resume .education .event:after {
      position: absolute;
      display: block;
      top: 0; }
    .section-resume .experience .event:after, .section-resume .language .event:after, .section-resume .projects .event:after, .section-resume .education .event:after {
      -webkit-box-shadow: 0 0 0 4px #e1e1e1;
      box-shadow: 0 0 0 4px #e1e1e1;
      left: -57.85px;
      background: #313534;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: "";
      top: 5px; }

.section-resume .skills {
  margin-bottom: 20px; }
  .section-resume .skills .skill-item {
    padding: 0 20px;
    margin-bottom: 30px; }
    .section-resume .skills .skill-item .progress-title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      text-transform: uppercase; }
    .section-resume .skills .skill-item .progress {
      height: 5px;
      background-color: rgba(255, 255, 255, 0.03);
      overflow: visible; }
      .section-resume .skills .skill-item .progress .progress-bar {
        background-color: #e1e1e1;
        height: 100%;
        position: relative; }
        .section-resume .skills .skill-item .progress .progress-bar:after {
          position: absolute;
          content: "";
          padding: 5px;
          border: 4px solid #e1e1e1;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          right: 0;
          top: -7px;
          background-color: #2a2b30; }
        .section-resume .skills .skill-item .progress .progress-bar .progress-value {
          position: absolute;
          right: -8px;
          font-size: 14px;
          top: -30px;
          font-weight: 600; }
