<div class="page section-resume">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-heading">
          <h2 [attr.data-shadow]="resumeData?.title">
            {{ resumeData?.title }}
          </h2>
        </div>
      </div>
    </div>

    <div class="row mb-10">
      <!--Experience Column Start-->
      <div class="col-lg-6">
        <div class="sub-heading">
          <h3>Work Experience</h3>
        </div>

        <!--experience timeline start-->
        <ul class="experience timeline">
          <!--timeline item-->
          <li class="event" *ngFor="let exp of resumeData?.workExperience">
            <h4>{{ exp?.position }}</h4>
            <h5>
              <span class="date">{{ exp?.duration }}</span>
              <span class="company"
                ><a href="{{ exp?.companyUrl ? exp?.companyUrl : '#' }}"
                  >&nbsp;&nbsp;{{ exp?.companyName }}</a
                ></span
              >
              <span class="location">{{ exp?.location }}</span>
            </h5>
            <p></p>
          </li>
        </ul>
        <!--experience timeline end-->
      </div>
      <!--Experience Column End-->
      <!-- Languages start -->
      <div class="col-lg-6">
        <div class="sub-heading">
          <h3>Languages</h3>
        </div>

        <!--language timeline start-->
        <ul class="language timeline">
          <!--timeline item-->

          <li class="event" *ngFor="let lang of resumeData?.languages">
            <h4>{{ lang?.name }}</h4>
            <h5>
              <span class="date">{{ lang?.skillLavel }}</span>
            </h5>
          </li>
        </ul>
        <!--education timeline end-->
      </div>
      <!-- languages ends -->
      <!--Education Column Start-->
      <div class="col-lg-6">
        <div class="sub-heading">
          <h3>Education</h3>
        </div>

        <!--education timeline start-->
        <ul class="education timeline">
          <!--timeline item-->

          <li class="event" *ngFor="let edu of resumeData?.education">
            <h4>{{ edu?.course }}</h4>
            <h5>
              <span class="date">{{ edu?.duration }}</span>
              <span class="company"
                ><a
                  href="{{ edu?.universityUrl ? edu?.universityUrl : '#' }}"
                  >{{ edu?.universityname }}</a
                ></span
              >
              <span class="location">{{ edu?.location }}</span>
            </h5>
            <p *ngFor="let p of resumeData?.projects">
              <span>{{ p }}</span>
            </p>
          </li>
        </ul>
        <!--education timeline end-->
      </div>
      <!--Education Column End-->

      <!-- Projects start -->
      <div class="col-lg-6">
        <div class="sub-heading">
          <h3>Projects</h3>
        </div>

        <!--education timeline start-->
        <ul class="projects timeline">
          <!--timeline item-->

          <li class="event" *ngFor="let proj of resumeData?.projects">
            <h4>{{ proj?.name }}</h4>
            <h5>
              <span class="date">{{ proj?.duration }}</span>
              <span class="company"
                ><a href="{{ proj?.projectUrl ? proj?.projectUrl : '#' }}">{{
                  proj?.name
                }}</a></span
              >
            </h5>
            <p *ngFor="let p of proj?.features">
              <span>{{ p }}</span>
            </p>
          </li>
        </ul>
        <!--education timeline end-->
      </div>
      <!-- Projects ends -->
    </div>

    <!--Skills Row Start-->
    <div class="row">
      <!-- Coding Skills Column Start -->
      <div class="col-lg-6 skills">
        <div class="sub-heading">
          <h3 data-shadow="Coding Skills">Front End Skills</h3>
        </div>

        <!--skill item-->
        <div class="skill-item" *ngFor="let s of feSkills">
          <h4 class="progress-title">{{ s?.name }}</h4>
          <div class="progress">
            <div class="progress-bar" [style.width]="s?.skillconfidenceValue">
              <div class="progress-value">{{ s?.skillconfidenceValue }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 skills">
        <div class="sub-heading">
          <h3 data-shadow="Coding Skills">Back End Skills</h3>
        </div>

        <!--skill item-->
        <div class="skill-item" *ngFor="let s of beSkills">
          <h4 class="progress-title">{{ s?.name }}</h4>
          <div class="progress">
            <div class="progress-bar" [style.width]="s?.skillconfidenceValue">
              <div class="progress-value">{{ s?.skillconfidenceValue }}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Coding Skills Column End -->
    </div>
    <!--Skills Row End-->
  </div>
</div>
